<%- include ../layouts/header.ejs%>
        <br/>
        <br/>
        <a href="/categorias/crear" class="btn btn-primary" type="button">Registrar nueva Categoria</a>
        <a href="/" class="btn btn-primary">Home</a>
        <br/>
        <br/>
        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>Categoria</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% for( let categoria = 0; categoria < categorias.length; categoria++ ) { %>
                    <tr>
                        <td> <%=categorias[categoria].id%> </td>
                        <td> <%=categorias[categoria].categoria%> </td>
                        <td>
                            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                <form class="form-inline" method="get" action="/categorias/editar/<%=categorias[categoria].id%>">
                                    <button class="btn btn-warning" type="submit">Editar</button>
                                </form>
                            </div>
                            <!-- <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                <form class="form-inline" method="post" action="/categorias/eliminar/<%=categorias[categoria].id%>">
                                    <button class="btn btn-danger" type="submit">Borrar</button>
                                </form>
                            </div> -->
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
<%- include ../layouts/footer.ejs%>
